body {
  height: 100vh;
  background: lightyellow;
}

.flex {
  display: flex;
}

.m-l-1 {
  margin-left: 1rem;
}

.header {
  width: 100%;
  color: purple;
  background-color: #e3e3e3;
  text-align: center;
}
